{% extends "base.html" %}

{% block content %}
<div class="features">
		<div class="container">
			<h3 class="head"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>Cow Details</h3>
				<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
					<ul id="myTab" class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="/home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Feature-1</a></li>
						<li role="presentation"><a href="#Feature1" role="tab" id="Feature1-tab" data-toggle="tab" aria-controls="Feature1">Feature-2</a></li>
						<li role="presentation"><a href="#Feature2" role="tab" id="Feature2-tab" data-toggle="tab" aria-controls="Feature2">Feature-3</a></li>
						<li role="presentation"><a href="#Feature3" role="tab" id="Feature3-tab" data-toggle="tab" aria-controls="Feature3">Feature-4</a></li>
					</ul>
					<div id="myTabContent" class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                            <div class="col-md-5 w3agile_tab_right w3agile_tab_right1">
									<img src="{{l}}" alt=" " class="img-responsive" />
								</div>
							<div class="w3agile_tabs">
								<div class="agile_mail_grids">
				<div class="agile_mail_grid">
					<form action="#" method="post">
						<div class="col-md-6 agile_mail_grid_left">
							<input type="text" name="etat" placeholder="etat" required="">
							<input type="text" name="deplacement" placeholder="deplacement" required="">
						</div>

						<div class="clearfix"> </div>
						<textarea name="ordonance" placeholder="ordonance..." required=""></textarea>
						<input type="submit" value="Send">
					</form>
				</div>
			</div>

								<div class="clearfix"> </div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="Feature1" aria-labelledby="Feature1-tab">
							<div class="w3agile_tabs">
								<div class="col-md-5 w3agile_tab_right w3agile_tab_right2">
									<img src="{{l}}" alt=" " class="img-responsive" />

								</div>
								<div class="col-md-7 w3agile_tab_left">
									<h4>pulvinar vitae sem sit amet non erat ut</h4>
									<p>Nunc faucibus lorem a arcu gravida, eget auctor eros
										ultrices. Vestibulum non erat ut odio euismod accumsan.
										Phasellus libero tellus, pulvinar vitae sem sit amet,
										faucibus consectetur neque.</p>
									<ul>
										<li>pulvinar vitae sem sit amet</li>
										<li>faucibus consectetur neque</li>
										<li>erat odio euismod accumsan</li>
										<li>sapien nec interdum euismod</li>
										<li>Phasellus libero tellus sem</li>
										<li>gravida eget auctor eros</li>
									</ul>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="Feature2" aria-labelledby="Feature2-tab">
							<div class="w3agile_tabs">
								<div class="col-md-7 w3agile_tab_left">
									<h4>faucibus consectetur neque sollicitudin</h4>
									<p>Nunc faucibus lorem a arcu gravida, eget auctor eros
										ultrices. Vestibulum non erat ut odio euismod accumsan.
										Phasellus libero tellus, pulvinar vitae sem sit amet,
										faucibus consectetur neque.</p>
									<ul>
										<li>pulvinar vitae sem sit amet</li>
										<li>faucibus consectetur neque</li>
										<li>erat odio euismod accumsan</li>
										<li>sapien nec interdum euismod</li>
										<li>Phasellus libero tellus sem</li>
										<li>gravida eget auctor eros</li>
									</ul>
								</div>
								<div class="col-md-5 w3agile_tab_right w3agile_tab_right1">
									<img src="images/9.jpg" alt=" " class="img-responsive" />
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="Feature3" aria-labelledby="Feature3-tab">
							<div class="w3agile_tabs">
								<div class="col-md-5 w3agile_tab_right w3agile_tab_right2">
									<img src="images/10.jpg" alt=" " class="img-responsive" />
								</div>
								<div class="col-md-7 w3agile_tab_left">
									<h4>gravida eget auctor eros libero tellus</h4>
									<p>Nunc faucibus lorem a arcu gravida, eget auctor eros
										ultrices. Vestibulum non erat ut odio euismod accumsan.
										Phasellus libero tellus, pulvinar vitae sem sit amet,
										faucibus consectetur neque.</p>
									<ul>
										<li>pulvinar vitae sem sit amet</li>
										<li>faucibus consectetur neque</li>
										<li>erat odio euismod accumsan</li>
										<li>sapien nec interdum euismod</li>
										<li>Phasellus libero tellus sem</li>
										<li>gravida eget auctor eros</li>
									</ul>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>

{% endblock%}